{% extends 'header&footer.html' %}
{% block title %}SAeL - Ver Kardex{% endblock title %}
{% block content %}    
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}




        <br><br>


        <h3>Buscar Asignaciones</h3>
        <p>Selecciona la Empresa</p>
        <br><br>


            {% if object_list %}
            {% for empresa in object_list %}
            <div class="container">
                <div class="row col-md-12 col-md-offset-4">
                    <a class="btn btn-primary btn-md col-md-4 col-xs-10" href="{% url "appsic:asignacion_listar" empresa.id %}">{{ empresa.ncr }}</a>
                    <br><br>
                </div>
            </div>
            {% endfor %}

            {% else %}
                <h3>No hay registros de Empresas</h3>
            {% endif %}
 
    
    

{% endblock content %}
