{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>{% block titulo %}{% endblock titulo %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css'%}">
		{% block css %}{% endblock css %}
	</head>
	<body>
		<header>
			<div class="container-fluid bg-secondary text-light fondoencabezado">
				
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
	 <div class="container">
            <a href="#" class="navbar-brand"><img class="logo" src="{% static 'img/logo.png' %}" alt="" ></a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="menu">
                
            </div>
        </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Empleados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nuevo Empleado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Consultar Empleados</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Modificar Empleado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Eliminar Empleado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Planilla de Empleados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Crear Cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Consultar Cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Modificar Cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Catalogo de Cuentas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transacciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nueva Transaccion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mostrar Libro Diario</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cerrar Periodo Contable</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ajustes Contables</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Prorrateo Primario</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estados Financieros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Balance de Comprobacion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Estado de Resultados</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Estado de Capital</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Balance General</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contabilidad de Costos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nueva Orden de Fabricacion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Consultar Orden de Fabricacion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Finalizar Orden de Fabricacion</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">Ayuda</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">Acerca de</a>
      </li>
    </ul>
  </div>
</nav>
			</div>
		</header>
		<main class="container">
			{% block contenido %}{% endblock contenido %}
		</main>
		<footer class="mt-5 bg-secondary">
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <p class="text-center m-0"> SIC115 </p>
            </div>
        </div>
    </div>
		</footer>
		<script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
		<script src="{%static 'js/popper.min.js'%}"></script>
	</body>
</html>