{% extends "base.html" %}
{% block contenido %}




<div class="container">


        <br><br>
        <h3>Lista de Puestos</h3>
        <a class="btn btn-info" href="{% url "appsic:new_puesto" %}">Nuevo Puesto</a>
        
        <div class="table-responsive">
            <br>
            <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="danger">
                <th>No.</th>
                <th>Codigo</th>
                <th>Nombre Funcional</th>
                <th>Descripcion</th>
                <th>Salario Base</th>
                <th style="width: 250px;" >Accion</th>
            </tr>
            

                {% if object_list %}
                {% for puesto in object_list %}
            <tr>
                <td>{{ puesto.id }}</td>
                <td>{{ puesto.codigo }}</td>
                <td>{{ puesto.nombre_funcional }}</td>
                <td>{{ puesto.descripcion }}</td>
                <td>{{ puesto.salario_base }}</td>
                <td><a class="btn btn-success btn-xs" href="{% url "appsic:detail_puesto" puesto.id %}">Ver</a>
                <a class="btn btn-primary btn-xs" href="{% url "appsic:edit_puesto" puesto.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url "appsic:delete_puesto" puesto.id %}">Borrar</a>
                </td>
            </tr>
                {% endfor %}


                {% else %}
                    <h3>No hay registros de Puestos</h3>
                {% endif %}
           


        </table>

            <ul class="pager">
                    <li>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    </li>
                    <li>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                    </li>
                </ul>
        </div>

        
        
    </div>
    

{% endblock %}
