{% extends "base.html" %}
{% block contenido %}





<div class="container">
        <br><br>
        <h3>Lista de Empleados por Empresa</h3>
        <a class="btn btn-info" href="{% url "appsic:new_empleadoempresa" %}">Asignar Nuevo Empleado a Empresa</a>
        
        <div class="table-responsive">
            <br>
            <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="danger">
                <th>Nombre / Apellido del Empleado</th>
                <th>Nombre de la Empresa</th>
                <th style="width: 250px;" >Accion</th>
            </tr>
            


                {% for inn in object_list %}
            <tr>
                <td>{{ inn.empleado.primer_nombre }} {{ inn.empleado.segundo_nombre }} {{ inn.empleado.primer_apellido }} {{ inn.empleado.segundo_apellido }}</td>
                <td>{{ inn.empresa.ncr }}</td>
                <td>
                <a class="btn btn-success btn-xs" href="{% url "appsic:detail_empleadoempresa" inn.id %}">Ver</a>
                <a class="btn btn-primary btn-xs" href="{% url "appsic:edit_empleadoempresa" inn.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url "appsic:delete_empleadoempresa" inn.id %}">Borrar</a>
                </td>
            </tr>
                {% endfor %}
           


        </table>

        <ul class="pager">
                <li>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
                <li>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
                </li>
            </ul>
        </div>

        
        
    </div>
    

{% endblock %}











<h1>Lista de Empleados por empresa</h1>

<p>
<a href="{% url "appsic:new_empleadoempresa" %}">Agregar puesto</a>
</p>

<ul>
    {% for ee in object_list %}
        <li>
            <p>{{ ee.id }}</p>
            <p>{{ ee.empleado.codigo }}</p>
            <p>{{ ee.empresa.nombre }}</p>
            <p>
            <a href="{% url "appsic:detail_empleadoempresa" ee.id %}">Ver</a> | 
            <a href="{% url "appsic:edit_empleadoempresa" ee.id %}">Editar</a> | 
                <a href="{% url "appsic:delete_empleadoempresa" ee.id %}">Borrar</a> 
       
            </p>
        </li>
    {% endfor %}
</ul>