{% extends "base.html" %}
{% block contenido %}



<div class="container">
<br><br>
<h3>Informacion general de asignación</h3>

<div class="row ">
<div class="col-md-4 col-md-offset-4">
<table class="table table-striped table-bordered table-hover table-condensed ">
		
	<tr>
		<th  class="info col-md-3">Departamento | Empresa</th>
		<th  class="info col-md-3"> </th>
	</tr>

	<tr>
		<td>No.</td>
		<td>{{ departamentoempresa.id }}</td>
	</tr>

	<tr>
		<td>Nombre del Departamento</td>
		<td>{{ departamentoempresa.departamento.nombre }}</td>
	</tr>

	<tr>
		<td>Nombre de la Empresa</td>
		<td>{{ departamentoempresa.empresa.ncr }}</td>
	</tr>

	


</table>
		    <a class="btn btn-warning btn-md" href="{% url "appsic:list_departamentoempresa" %}">Regresar</a>
		    
</div>
</div>

</div>





{% endblock %}














<p>Id <i>{{ departamentoempresa.id }}</i></p>
<p>Nombre departamento<i>{{ departamentoempresa.departamento.nombre }}</i></p>
<p>Nombre Empresa <i>{{ departamentoempresa.empresa.nombre }}</i></p>
<p>
    <a href="{% url "appsic:list_departamentoempresa" %}">Regresar</a>
</p>