body{
    min-height: 25rem;
    padding-top: 0rem;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 10%;
}
button{
    color:black;
    background: red;
}
#navbar{
    background: #009544;
}
.text-white:hover{
    font-size: 1.2em;
    color:yellow !important;
}
.fa-bars{
    color:yellow;
}
hr{
    border:3px solid purple;
}
h1 a {
    color:blue;
    font-family: 'Arial Black';
}
.fondoencabezado{
     
    height: 100px;
    width:100%;
    top:0;
}
header, footer {
    
    text-align: center;
}
.fondopie{
    
    height: 100px;
    width:100%;
}
