{% extends 'base.html' %}
{% block title %}Contabilidad{% endblock title %}
{% block body %}
  <body class="nav-md">
    {% block content %}
      {% block header %}
      {% endblock header %}
      {% block sidebar %}
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="clearfix"></div>
          <div class="menu_section">
            <h3>Contabilidad General</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-book"></i> Cuentas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index2.html">Visualizar Catálogo de Cuentas</a></li>
                  <li><a href="index.html">Agregar Cuenta</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-edit"></i> Transacción <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="form.html">Registrar Transacción</a></li>
                  <li><a href="form_advanced.html">Historial de Transacciones</a></li>
                  <li><a href="form_validation.html">Transacciones del período</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-cogs"></i> Ajuste <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="general_elements.html">Agregar Nuevo Ajuste</a></li>
                  <li><a href="media_gallery.html">Realizar Ajustes</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="menu_section">
            <h3>Contabilidad de Costos</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-cart-plus"></i>Productos<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="e_commerce.html">Visualizar Productos</a></li>
                  <li><a href="projects.html">Agregar Producto</a></li>
                  <li><a href="project_detail.html">Kardex - Producto en Proceso</a></li>
                  <li><a href="project_detail.html">Kardex - Producto Terminado</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-cart-arrow-down"></i>Materia Prima<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="page_403.html">Visualizar Materia Prima</a></li>
                  <li><a href="page_404.html">Agregar Materia Prima</a></li>
                  <li><a href="page_500.html">Kardex - Materia Prima</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li class="sub_menu"><a href="level2.html">Level Two</a>
                        </li>
                        <li><a href="#level2_1">Level Two</a>
                        </li>
                        <li><a href="#level2_2">Level Two</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#level1_2">Level One</a>
                    </li>
                </ul>
              </li>                  
              <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->
      {% endblock sidebar %}
    {% endblock content %}
  </body>
  {% endblock body %}