{% extends 'header&footer.html' %}
{% block title %}SCIeL - Edición / {% endblock title %}

{% block content %}
  
  {% block sidebar %}
  {% if user.is_authenticated %}
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:dispositivos' %}">
        <i class="fas fa-fw fa-cubes"></i>
        <span>Dispositivos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:sensores' %}">
        <i class="fas fa-fw fa-thermometer-quarter"></i>
        <span>Sensores</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:actuadores' %}">
        <i class="fas fa-fw fa-wrench"></i>
          <span>Actuadores</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:invernaderos' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Invernaderos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
        <i class="fas fa-fw fa-leaf"></i>
        <span>Cultivos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'invernaderos:parametros' %}">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Parámetros Estándar</span>
      </a>
    </li>
  </ul>
  {% endif %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
    <div id="content-wrapper">
      <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Edición  | Creación</a>
          </li>
          <li class="breadcrumb-item active">Ingreso de Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header text-center">
            <i class="fas fa-edit"></i>
            Edición | Creación
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="card-body">
            <form action="" method="POST" disabled id="detalleForm">
                {% csrf_token %}
                {{ form|bootstrap_inline }}
                <div class="form-group text-center">
                    <button id='aprobar' type="submit" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
                    <button class='btn btn-secondary' onclick="javascript:history.back()" style="width: 30%" type='button'>Cancelar</button>                    
                </div>
            </form>
            <script>
              window.onload = function({{form}}){
                  for(item in form){
                  item.disabled(true);
                };
              };
              $('#detalleForm').disabled(true);
            </script>
          </div>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}
