{% extends 'base.html' %}
{% block title %}Contabilidad{% endblock title %}
{% block body %}
{% load static from staticfiles  %}
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    {% load bootstrap %}
                    <form method="POST">
                        <img class="img-fluid d-block mx-auto mb-4" src="{% static '/images/Logo.png' %}" alt="" width="250" style="padding-bottom: 0.3rem; margin-top: -5rem">
                        {% csrf_token %}
                        <div class="text-center">
                            <label for="id_username" style="color:darkgray !important;">
                                Nombre de usuario
                            </label>
                            <i>{{ form.username }}</i>
                        </div>
                        <div class="text-center">
                            <label for="id_password" style="color:darkgray !important;">
                                Contraseña
                            </label>
                            <i>{{ form.password }}</i>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" href="{% url 'contabilidad:cuentas' %}" name="submit" type="submit">Iniciar Sesión</button>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
{% endblock body %}
