<!-- Sidebar -->
{% if user.is_authenticated %}
  <ul class="sidebar bg-dark navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contabilidad:cuentas' %}">
        <i class="fas fa-fw fa-book"></i>
        <span>Catálogo de Cuentas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'inventario:proveedores' %}">
        <i class="fas fa-fw fa-list"></i>
        <span>Inventario</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'contabilidad:estados-financieros'%}">
        <i class="fas fa-fw fa-edit"></i>
        <span>Estados Financieros</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contabilidad:transacciones' %}">
        <i class="fas fa-fw fa-database"></i>
        <span>Transacciones del período</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Ajustes</span>
      </a>
    </li>
  </ul>
{% endif %}