{% extends 'header&footer.html' %}
{% block title %}SAeL - Gestión de Cuentas{% endblock title %}

{% block content %}    
  {% block sidebar %}
    {% include 'sidebarPlanilla.html' %}
  {% endblock sidebar %}
  {% block tables %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Planilla</a>
          </li>
          <li class="breadcrumb-item active">Puestos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="alert bold alert-info">
          <i class="fas fw fa-plus-circle"></i>
          <a href="{% url 'planilla:puesto-crear' %}">
            <strong>¡Click Aquí para agregar un nuevo puesto!</strong>
          </a>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Lista de Puestos
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Codigo</th>
                      <th>Departamento</th>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Salario</th>
                      <th>Operaciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for puesto in puestos %}
                        <tr id="{{puesto.id}}">
                            <td class="text-center">{{puesto.id}}</td>
                            <td>{{ puesto.codigo }}</td>
                            <td>
                              {% ifnotequal puesto.id None %}
                                {{ puesto.id_departamento }}
                              {% endifnotequal %}
                            </td>
                            <td>{{ puesto.nombre_funcional }}</td>
                            <td>{{ puesto.descripcion }}</td>
                            <td>{{ puesto.salario_base }}</td>
                            <td class="text-center">
                                <a class="fas fa-w fa-eye" name="ver" href="#"  data-toggle="modal" onclick="redirectView('PUESTO', {{ puesto.id }})" style="color:gray !important"></a>
                                <a class="fas fa-w fa-edit" name="editar" href="#" onclick="redirectEdit('PUESTO', 
                                {{ puesto.id }})" style="color:gray !important"></a>
                                <a class="fas fa-w fa fa-trash" name="eliminar" href="#" onclick="operacion({{ puesto.id }}, '{{puesto.nombre}}', 'PUESTO');" style="color:gray !important"></a>
                            </td>                          
                        </tr>
                    {% empty %}
                      <div class="alert bold alert-danger text-center">
                        <i class="fas fw fa-question-circle">
                          <strong>¡Opps! Parece que no tienes ningun puesto registrado.</strong>
                        </i><br><hr>
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="{% url 'planilla:puesto-crear' %}">
                          <strong>¡Click Aquí para agregar un nuevo puesto!</strong>
                        </a>
                      </div>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  {% endblock tables %}
    
{% endblock content %}