{% extends 'header&footer.html' %}
{% block title %}SCIeL - Edición / {% endblock title %}

{% block content %}
  
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Edición  | Creación</a>
          </li>
          <li class="breadcrumb-item active">Ingreso de Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-edit"></i>
                Edición | Creación
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="card-body" id="1">
            <div class="row">
              <div class="col-lg-12 col-xs-12 border rounded">
                <form method="POST" name="proveedor_form" id="proveedor_form">
                  {%csrf_token%}
                  <h4 class="mb-3 text-center header_id">PROVEEDOR</h4>
                    {{ proveedor_form|bootstrap_inline }}
                  <br>
                </form>
                <form method="POST" name="recurso_form" id="recurso_form">
                  {%csrf_token%}
                  <h4 class="mb-3 text-center header_id">DATOS DE LA MATERIA PRIMA</h4>
                    {{ recurso_form|bootstrap_inline }}
                  <div class="form-group text-center">
                    <br>
                    <button id='aprobar' type="submit" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
                    <button class='btn btn-secondary' onclick="javascript:history.back()" style="width: 30%" type='button'>Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}