{% extends 'header&footer.html' %}
{% block title %}SCIeL - Edición / {% endblock title %}

{% block content %}
  
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
  {% load l10n %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Edición  | Creación</a>
          </li>
          <li class="breadcrumb-item active">Ingreso de Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-edit"></i>
                Edición | Creación
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="card-body" id="1">
            <div>
              <div class="col-lg-12 col-xs-12 border rounded">
                <form name="venta_form" novalidate>
                {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-6 col-xs-12">
                      <h4 class="mb-3 text-center header_id">VENTA</h4>
                      {{ venta_form|bootstrap_inline }}
                    </div>
                    <br>
                    <div  class="col-lg-6 col-xs-12">
                      <h4 class="mb-3 text-center header_id">PRODUCTO</h4>
                      {{ producto_form|bootstrap_inline }}
                      {{ detalle_venta_form|bootstrap_inline }}
                      {{ movimiento_form|bootstrap_inline }}
                    </div>
                  </div>
                  <div class="col-12 text-center">    
                    <button class="btn btn-outline-primary btn-plus" onclick="getData()" type="button">
                      Registrar venta
                      <i class="fas fa-plus-circle"></i>
                    </button>
                  </div><br>
                </form>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                  Venta
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Cliente</th>  
                        <th>Producto</th>             
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>SubTotal</th>
                      </tr>
                    </thead>
                    <tbody id="tbBody">
                                
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="5" class="text-right">Sub Total</th>
                        <th class="text-center" id="subTotal">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Total IVA</th>
                        <th class="text-center" id="iva">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Contado</th>
                        <th class="text-center" id="contado">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Crédito</th>
                        <th class="text-center" id="credito">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th class="text-center" id="total">$ 0.00</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <br>
              <button id='aprobar' type="submit" onclick="sendData()" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
              <button class='btn btn-secondary' onclick="javascript:history.back()" style="width: 30%" type='button'>Cancelar</button>                    
            </div>
          </div>
            <script>
              //Declarando variable globales
              var count = 0;
              var totalVenta = 0;
              var subTotalVenta = 0;
              var totalFila = 0;
              var cliente = "";
              //var totales = "";
              //var clientes = "";
              var cantidad = 0;
              var producto = "";
              var proporcion =  0;
              var codigoCliente = null;
              var contado = 0;
              var credito = 0;
              var isContado = true;
              var isCredito = false;

              function getCheckbox(){
                isContado = $("#id_is_contado").prop("checked");
                isCredito = $("#id_is_credito").prop("checked");
                if(isContado && isCredito){
                  $("#id_proporcion").removeAttr('disabled');
                  return true;
                }else{
                  $("#id_proporcion").val("");
                  $("#id_proporcion").attr('disabled','disabled');
                  proporcion = 0;
                  contado = 0;
                  credito = 0;
                  return false;
                }
              }

              function getData(){
                console.log("ADDROWS")
                count = count + 1;
                codigoCliente = $("#id_nombre_cliente").val();

                var cbCliente = document.getElementById("id_nombre_cliente");
                    
                cliente = cbCliente.options[cbCliente.selectedIndex].text;
                
                producto = $('#id_nombre_recurso').val();
                cantidad = parseInt($("#id_cantidad_detalle").val());
                var precio = parseFloat($("#id_costo_unitario_movimiento").val());

                if(getCheckbox()){
                  proporcion =  parseFloat($("#id_proporcion").val());
                }

                if(cliente!='' && cliente!='---------' && producto!='' && !isNaN(cantidad) && !isNaN(precio)){
                    addRows(cliente, producto, cantidad, precio);
                }
              };

              function addRows(cliente, producto, cantidad, precio){
                console.log("registro")
                totalFila=round(cantidad*precio);
                //totales+=totalFila+",";
                subTotalVenta=round((subTotalVenta+totalFila));
                iva=round(subTotalVenta*parseFloat({{impuesto.tasa_impuesto|stringformat:'f'}}));

                totalVenta=round(subTotalVenta*(1+parseFloat({{impuesto.tasa_impuesto|stringformat:'f'}})));
                if(isCredito && isContado){
                  credito = round(totalVenta*proporcion/100);
                  contado = round(totalVenta*(1-proporcion/100));
                }else{
                  if(isCredito){
                    credito = totalVenta;
                  }else{
                    contado = totalVenta;
                  }
                }
                //clientes+=codigoCliente+",";
                //cantidades+=cantidad+",";
                //productos+=producto+",";

                console.log("CANTIDAD");
                $("#tbBody").append(
                  "<tr><td class='text-center'>"+count+"</td>"+
                  "<td>"+cliente+"</td>"+
                  "<td>"+producto+"</td>"+
                  "<td class='text-center'>"+cantidad+"</td>"+
                  "<td class='text-center'>$ "+precio+"</td>"+
                  "<td class='text-center'>$ "+totalFila+"</td></tr>"
                );
                $("#subTotal").empty();
                $("#subTotal").append("$ "+subTotalVenta);
                $("#iva").empty();
                $("#iva").append("$ "+iva);
                $("#contado").empty();
                $("#contado").append("$ "+contado);
                $("#credito").empty();
                $("#credito").append("$ "+credito);
                $("#total").empty();
                $("#total").append("$ "+totalVenta);
              }

              function round(number){
                number = Math.round(number*100)/100;
                return number;
              };

              function sendData(){
                if(cliente!='' && cliente!='---------' && producto!='' && cantidad!='' && totalFila!=''){
                  data = {}
                  if(getData){
                    data = {
                    'cliente': cliente,
                    'producto': producto,
                    'totalFila': totalFila,
                    'cantidad': cantidad,
                    'proporcion': proporcion
                  }
                }else{
                  data = {
                    'cliente': cliente,
                    'producto': producto,
                    'totalFila': totalFila,
                    'cantidad': cantidad,
                  }
                }
                $.ajax({
                  url: "{% url 'inventario:ajax-venta' %}",
                  type: "POST",
                  data: data,
                  success: function(data){
                    console.log(data);
                    console.log("SUCCES");
                  },
                  dataType: "json"
                }).done(function(data){
                  location.href = data.success_url;
                }).fail(function() {
                  console.log("error");
                  alert("La transaccion no pudo ser realizada");
                }).always(function() {
                  console.log("complete");
                });
              }
            }

            function sendData() {
              var data = {}
              if(totalVenta > 0){
                if(isCredito && isContado){
                  data = {
                    'totalVenta': subTotalVenta,
                    'totalFila': totalFila,
                    'cliente': cliente,
                    'producto': producto,
                    'cantidad': cantidad,
                    'proporcion': proporcion
                  }
                }else{
                  data = {
                    'totalVenta': subTotalVenta,
                    'totalFila': totalFila,
                    'cliente': cliente,
                    'producto': producto,
                    'cantidad': cantidad,
                    'isCredito': isCredito
                  }
                }
                $.ajax({
                  url: '{% url 'inventario:venta-crear' %}',
                  type: 'POST',
                  data: data,
                  success: function(data){
                    console.log(data);
                    console.log("SUCCESS");
                  },
                  dataType: 'json'
                }).done(function(data){
                  alert(data.message)
                  location.href = data.success_url;
                }).fail(function(data) {
                  console.log("error");
                  console.log(data.message);
                }).always(function() {
                  console.log("complete");
                });
              }
            }
          </script>
          </div>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}
