{% extends 'header&footer.html' %}
{% block title %}SCIeL - Edición / {% endblock title %}

{% block content %}
  
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
  {% load l10n %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Edición  | Creación</a>
          </li>
          <li class="breadcrumb-item active">Ingreso de Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-edit"></i>
                Edición | Creación
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="card-body" id="1">
            <div>
              <div class="col-lg-12 col-xs-12 border rounded">
                <form name="compra_form" novalidate>
                {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-6 col-xs-12">
                      <h4 class="mb-3 text-center header_id">COMPRA</h4>
                      {{ compra_form|bootstrap_inline }}
                    </div>
                    <br>
                    <div  class="col-lg-6 col-xs-12">
                      <h4 class="mb-3 text-center header_id">MATERIA PRIMA</h4>
                      {{ detalle_compra_form|bootstrap_inline }}
                    </div>
                  </div>
                  <div class="col-12 text-center">    
                    <button class="btn btn-outline-primary btn-plus" onclick="getData()" type="button">
                      Registrar compra 
                      <i class="fas fa-plus-circle"></i>
                    </button>
                  </div><br>
                </form>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                  Compra
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Proveedor</th>
                        <th>Detalle</th>                
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>SubTotal</th>
                      </tr>
                    </thead>
                    <tbody id="tbBody">
                                
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="5" class="text-right">Sub Total</th>
                        <th class="text-center" id="subTotal">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Total IVA</th>
                        <th class="text-center" id="iva">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Contado</th>
                        <th class="text-center" id="contado">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Crédito</th>
                        <th class="text-center" id="credito">$ 0.00</th>
                      </tr>
                      <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th class="text-center" id="total">$ 0.00</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <br>
              <button id='aprobar' type="submit" onclick="sendData()" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
              <button class='btn btn-secondary' onclick="javascript:history.back()" style="width: 30%" type='button'>Cancelar</button>                    
            </div>
          </div>
          <script>
                function getMateria(id_proveedor, id_materiales){
                  console.log("GETMATERIA");
                  var proveedor = $("#"+id_proveedor).val();
                  console.log("AJAX: "+proveedor);
                  if(proveedor!='' && proveedor!='---------'){
                    $.ajax({
                      url: '{% url "inventario:ajax-materia" %}',
                      type: 'GET',
                      data: {
                        'id_proveedor': proveedor,
                      },
                      success: function(data){
                        console.log(data);
                        console.log("SUCCESS");
                      },
                      dataType: 'json'
                    }).done(function(data){
                      if(data.nombres != null){
                        $("#"+id_materiales).empty();
                        $("#"+id_materiales).append('<option value="" selected="">---------</option>');
                        var id = data.identificador.split("-");
                        var nombres = data.nombres.split("-");
                        for(var i=0; i < nombres.length-1 ; i++){
                          $("#"+id_materiales).append(
                          "<option id='"+id[i] + "' value='" +
                          id[i] + "'>" + nombres[i] + "</option>");
                        };
                        console.log("endfor");
                        $("#"+id_materiales).removeAttr('disabled');
                      }else{
                        $("#"+id_materiales).append('<option value="" selected="">---------</option>');
                        $("#"+id_materiales).attr('disabled','disabled');
                      }
                    }).fail(function(data) {
                      console.log("error");
                      console.log(data.message);
                    }).always(function() {
                      console.log("complete");
                    });
                  }
                };

                //Declarando variable globales
                var count = 0;
                var totalCompra = 0;
                var subTotalCompra = 0;
                var totales = "";
                var proveedores = "";
                var materiales = "";
                var cantidades = "";
                var proporcion =  0;
                var codigoProveedor = null;
                var codigoMateriaPrima = null;
                var contado = 0;
                var credito = 0;
                var isContado = true;
                var isCredito = false;

                function getCheckbox(){
                    isContado = $("#id_is_contado").prop("checked");
                    isCredito = $("#id_is_credito").prop("checked");
                    if(isContado && isCredito){
                        $("#id_proporcion").removeAttr('disabled');
                        return true;
                    }else{
                        $("#id_proporcion").val("");
                        $("#id_proporcion").attr('disabled','disabled');
                        proporcion = 0;
                        contado = 0;
                        credito = 0;
                        return false;
                    }
                }

                function getData(){
                    console.log("ADDROWS")
                    count = count + 1;
                    codigoProveedor = $("#id_nombre_proveedor").val();
                    codigoMateriaPrima = $("#id_id_materia_prima").val();

                    var cbProveedor = document.getElementById("id_nombre_proveedor");
                    var cbMateriaPrima = document.getElementById("id_id_materia_prima");
                    
                    var proveedor = cbProveedor.options[cbProveedor.selectedIndex].text;
                    var materiaPrima = cbMateriaPrima.options[cbMateriaPrima.selectedIndex].text;
                    
                    var cantidad = parseInt($("#id_cantidad_detalle").val());
                    var precio = parseFloat($("#id_precio_unitario").val());

                    if(getCheckbox()){
                      proporcion =  parseFloat($("#id_proporcion").val());
                    }

                    if(proveedor!='' && proveedor!='---------' && materiaPrima!='' && materiaPrima!='---------' && !isNaN(cantidad) && !isNaN(precio)){
                        addRows(proveedor, materiaPrima, cantidad, precio);
                    }
                };

                function addRows(proveedor, materiaPrima, cantidad, precio){
                  console.log("registro")
                  var totalFila=round(cantidad*precio);
                  totales+=totalFila+",";
                  subTotalCompra=round((subTotalCompra+totalFila));
                  iva=round(subTotalCompra*parseFloat({{impuesto.tasa_impuesto|stringformat:'f'}}));

                  totalCompra=round(subTotalCompra*(1+parseFloat({{impuesto.tasa_impuesto|stringformat:'f'}})));
                  if(isCredito && isContado){
                    credito = round(totalCompra*proporcion/100);
                    contado = round(totalCompra*(1-proporcion/100));
                  }else{
                    if(isCredito){
                      credito = totalCompra;
                    }else{
                      contado = totalCompra;
                    }
                  }
                  proveedores+=codigoProveedor+",";
                  materiales+=codigoMateriaPrima+",";
                  cantidades+=cantidad+",";

                  console.log("CANTIDAD");
                  $("#tbBody").append(
                    "<tr><td class='text-center'>"+count+"</td>"+
                    "<td>"+proveedor+"</td>"+
                    "<td>"+materiaPrima+"</td>"+
                    "<td class='text-center'>"+cantidad+"</td>"+
                    "<td class='text-center'>$ "+precio+"</td>"+
                    "<td class='text-center'>$ "+totalFila+"</td></tr>"
                  );
                  $("#subTotal").empty();
                  $("#subTotal").append("$ "+subTotalCompra);
                  $("#iva").empty();
                  $("#iva").append("$ "+iva);
                  $("#contado").empty();
                  $("#contado").append("$ "+contado);
                  $("#credito").empty();
                  $("#credito").append("$ "+credito);
                  $("#total").empty();
                  $("#total").append("$ "+totalCompra);
                }

                function round(number){
                  number = Math.round(number*100)/100;
                  return number;
                };

                function sendData(){
                  if(proveedor!='' && proveedor!='---------' && cantidades!='' && proveedores!='' && materiales!='' && totales!=''){
                    data = {}
                    if(getData){
                      data = {
                        'materias_primas': materiales,
                        'proveedores': proveedores,
                        'totales': totales,
                        'cantidades': cantidades,
                        'proporcion': proporcion
                      }
                    }else{
                      data = {
                        'materias_primas': materiales,
                        'proveedores': proveedores,
                        'totales': totales,
                        'cantidades': cantidades,
                      }
                    }
                    $.ajax({
                      url: "{% url 'inventario:ajax-compra' %}",
                      type: "POST",
                      data: data,
                      success: function(data){
                        console.log(data);
                        console.log("SUCCES");
                      },
                      dataType: "json"
                    }).done(function(data){
                      location.href = data.success_url;
                    }).fail(function() {
                      console.log("error");
                      alert("La transaccion no pudo ser realizada");
                    }).always(function() {
                      console.log("complete");
                    });
                  }
                }

                function sendData() {
                  var data = {}
                  if(totalCompra > 0){
                    if(isCredito && isContado){
                      data = {
                        'totalCompra': subTotalCompra,
                        'totales': totales,
                        'proveedores': proveedores,
                        'materiales': materiales,
                        'cantidades': cantidades,
                        'proporcion': proporcion
                      }
                    }else{
                      data = {
                        'totalCompra': subTotalCompra,
                        'totales': totales,
                        'proveedores': proveedores,
                        'materiales': materiales,
                        'cantidades': cantidades,
                        'isCredito': isCredito
                      }
                    }
                    $.ajax({
                        url: '{% url 'inventario:compra-crear' %}',
                        type: 'POST',
                        data: data,
                        success: function(data){
                          console.log(data);
                          console.log("SUCCESS");
                        },
                        dataType: 'json'
                      }).done(function(data){
                        alert(data.message)
                        location.href = data.success_url;
                      }).fail(function(data) {
                        console.log("error");
                        console.log(data.message);
                      }).always(function() {
                        console.log("complete");
                      });
                  }
                }
          </script>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}
{% block js %}
    {% load static %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
{% endblock js %}