{% extends 'header&footer.html' %}
{% block title %}Inventario{% endblock title %}
{% block content %}
    {% block sidebar %}
    {% endblock sidebar %}
    {% block tables %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">listado de clientes</a>
            </li>
            <li class="breadcrumb-item active">Datos</li>
        </ol>

        <div class="alert bold alert-success">
            <i class="fas fw fa-plus-circle"></i>
            <a href="{% url 'inventario:cliente-crear' %}">
            <strong>¡Click Aquí para agregar un nuevo cliente!</strong>
            </a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Listado de clientes</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="#" class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                            <li>
                                <a class="close-link">
                                    <i class="fa fa-close"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Codigo Cliente</th>
                                    <th>Nombre Cliente</th>
                                    <th>Nombre Titular Cliente</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cliente in clientes %}
                                <tr id="{{ cliente.id_cliente }}">
                                    <td class="text-center">{{ cliente.id_cliente }}</td>
                                    <td>{{ cliente.nombre_cliente }}</td>
                                    <td>{{ cliente.nombre_titular_cliente }}</td>
                                    <td class="text-center">
                                        <a class="fas fa-w fa-eye" name="ver" href="#"  data-toggle="modal" onclick="redirectView('cliente', {{ cliente.id_cliente }})" style="color:gray !important"></a>
                                        <a class="fas fa-w fa fa-trash" name="eliminar" href="#" onclick="operacion({{ cliente.id_cliente }}, '{{cliente.nombre_cliente}}', 'cliente');" style="color:gray !important"></a>
                                        <a class="fas fa-w fa-file-pdf" name="ver" href="#"  data-toggle="modal" onclick="redirectView('venta', {{ venta.id_venta }})" style="color:gray !important"></a>
                                    </td>                          
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock tables %}
{% endblock content %}
