{% extends 'header&footer.html' %}
{% block title %}SAeL - Gestión de Proveedores{% endblock title %}

{% block content %}    
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}
  {% block tables %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Listado de proveedores</a>
          </li>
          <li class="breadcrumb-item active">Proveedores</li>
        </ol>
        <!-- DataTables Example -->
        <div class="alert bold alert-info">
          <i class="fas fw fa-plus-circle"></i>
          <a href="{% url 'inventario:proveedor-crear' %}">
            <strong>¡Click Aquí para agregar un nuevo proveedor!</strong>
          </a>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Proveedores
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>Codigo Proveedor</th>
                      <th>Nombre Proveedor</th>
                      <th>Nombre Titular Proveedo</th>
                      <th>Operaciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                        <tr id="{{ proveedor.id_proveedor }}">
                            <td class="text-center">{{ proveedor.id_proveedor }}</td>
                            <td>{{ proveedor.nombre_proveedor }}</td>
                            <td>{{ proveedor.nombre_titular_proveedor }}</td>
                            <td class="text-center">
                                <a class="fas fa-w fa-eye" name="ver" href="#"  data-toggle="modal" onclick="redirectView('PROVEEDOR', {{ proveedor.id_proveedor }})" style="color:gray !important"></a>
                                <a class="fas fa-w fa-edit" name="editar" href="#" onclick="redirectEdit('PROVEEDOR', {{ proveedor.id_proveedor }})" style="color:gray !important"></a>
                                <a class="fas fa-w fa fa-trash" name="eliminar" href="#" onclick="operacion({{ proveedor.id_proveedor }}, '{{ proveedor.nombre_proveedor }}', 'PROVEEDOR');" style="color:gray !important"></a>
                            </td>                          
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  {% endblock tables %}
    
{% endblock content %}
