{% extends 'header&footer.html' %}
{% block title %}SCIeL - Detalle{% endblock title %}

{% block content %}
    
  {% block sidebar %}
    {% include "sidebarInventario.html" %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
    <div id="content-wrapper">
      <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Visualización</a>
          </li>
          <li class="breadcrumb-item active">Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa fa-eye"></i>
            <strong><i> Detalles de materia prima: {{ materia_prima }}</i></strong>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody id="bodyTable">
                  <form name="myForm" action="" method="POST" disabled id="detalleForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12 col-xs-12 border">
                        <h4 class="mb-3 text-center header_id">PROVEEDOR</h4>
                        {{ proveedor_form|bootstrap_inline }}
                      </div>
                    </div>
                    <br>
                    <div class="row border-bottom">
                      <div  class="col-lg-12 col-xs-12 border" id="div_1">
                        <h4 class="mb-3 text-center header_id">RECURSO</h4>
                        {{ recurso_form|bootstrap_inline }}
                      </div>
                    </div>
                  </form>
                </tbody>
              </table>
              <div class="row">
                <div class="col-12 form-group text-center">
                  <br>
                  <button class='btn btn-primary' onclick="javascript:history.back()" style="width: 50%;" type='button'>Salir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}