{% extends 'header&footer.html' %}
{% block title %}SCIeL - Detalle{% endblock title %}

{% block content %}
    
  {% block sidebar %}
    {% include "sidebarInventario.html" %}
  {% endblock sidebar %}
  {% block tables %}
  {% load bootstrap %}
    <div id="content-wrapper">
      <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Visualización</a>
          </li>
          <li class="breadcrumb-item active">Datos</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa fa-eye"></i>
            <strong><i> Detalles de la compra: {{ compra }}</i></strong>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody id="bodyTable">
                    <tr class="row">
                      <td class="text-right col">
                        Codigo compra
                      </td>
                      <td class="text-left col">{{ compra.id_compra }}</td>
                    </tr>
                    <tr class="row">
                      <td class="text-right col">
                        Factura
                      </td>
                      <td class="text-left col">{{ compra.id_factura }}</a></td>
                    </tr>
                    <tr class="row">
                      <td class="text-right col">
                        Sub Total
                      </td>
                      <td class="text-left col">{{ compra.id_factura.sub_total_factura }}</a></td>
                    </tr>
                    <tr class="row">
                      <td class="text-right col">
                        IVA
                      </td>
                      <td class="text-left col">{{ compra.id_factura.monto_aplicacion }}</a></td>
                    </tr>
                    <tr class="row">
                      <td class="text-right col">
                        Total
                      </td>
                      <td class="text-left col">{{ compra.id_factura.total_factura }}</a></td>
                    </tr>
                    <tr class="row">
                      <td class="text-right col">
                        Estado
                      </td>
                        {% if compra.id_factura.is_credito and compra.id_factura.is_contado %}
                            <td class="text-left col">Parcialmente al Credito</td>
                        {% elif compra.id_factura.is_credito %}
                            <td class="text-left col">Al Crédito</td>
                        {% elif compra.id_factura.is_contado %}
                            <td class="text-left col">Al Contado</td>
                        {% endif %}
                    </tr>
                </tbody>
              </table>
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Movimientos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Materia Prima</th>
                          <th>Proveedor</th>
                          <th>Cantidad</th>                
                        </tr>
                      </thead>
                      <tbody id="tbBody">
                          {% for detalle in detalles %}    
                              <tr>
                                  <td>{{detalle.id_materia_prima}}</td>
                                  <td>{{detalle.id_materia_prima.id_proveedor}}</td>
                                  <td>{{detalle.cantidad_detalle}}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group text-center">
                  <br>
                  <button class='btn btn-primary' onclick="javascript:history.back()" style="width: 50%;" type='button'>Salir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock tables %}
{% endblock content %}