{% extends "base.html" %}
{% block contenido %}


<div class="container">


        <h3>Planilla correspondiente a la empresa </h3>
        <i><h3>{{ ee }}</h3></i>

<div class="contenedor-botones col-md-offset-5">
 <a href="#ventana1" class="btn btn-danger" data-toggle="modal">Resultados Financieros</a>
</div>

<div class="modal fade" id="ventana1" style="display: none;">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Resultado Mensual de la Empresa  {{ ee }}</h4>
     </div>

      <div class="modal-body">
        <table class="table table-striped table-hover table-condensed">
        <tr>
           <td>Planilla </td>
           <td>{{ total1 }}</td>
        </tr>

        <tr>
           <td>ISSS Patronal </td>
           <td>{{ total2 }}</td>
        </tr>

        <tr>
           <td>AFP Patronal </td>
           <td>{{ total3 }}</td>
        </tr>

        <tr>
           <td>Vacaciones </td>
           <td>{{ total4 }}</td>
        </tr>

        <tr>
           <td>Total </td>
           <td>{{ total }}</td>
        </tr>

        </table>
      </div>

         <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
   </div>
</div>




    
    <div class="table-responsive">
        <br>
        <table class="table table-striped table-bordered table-hover table-condensed">

        <tr class="danger">
          
          <th>fecha</th>
          <th>Empleado</th>
          <th>Salario Nominal</th>
          <th>dias trabajados</th>
          <th>descuentos</th>
          <th>ingresos</th>
          <th>ISSS</th>
          <th>AFP</th>
          <th>RENTA</th>
          <th>Salario Pagar</th>
          <th style="width: 150px;" >Accion</th>
        </tr>



        {% for al in planillas %}
        
      <tr>
        <td>{{ al.fecha }}</td>
        <td>{{ al.asignacion.empleado_empresa.empleado.primer_nombre }}</td>
        <td>{{ al.aguinaldo }}</td>
        <td>{{ al.dias_trabajados }}</td>
        <td>{{ al.descuentos }}</td>
        <td>{{ al.ingresos }}</td>
        <td>{{ al.isss_empleado }}</td>
        <td>{{ al.afp_empleado }}</td>
        <td>{{ al.renta }}</td>
        <td>{{ al.salario_neto }}</td>
        <td>
            <a class="btn btn-success btn-xs" href="{% url "appsic:impresion" al.id %}">Imprimir</a>
            <a class="btn btn-danger btn-xs" href="{% url "appsic:delete_planilla" al.id %}">Borrar</a>
        </td>

      </tr>
        
      {% endfor %}
       
    </table>
    </div>

    

    
</div>


{% endblock %}



