{% extends 'header&footer.html' %}
{% block title %}SAeL - Ver Kardex{% endblock title %}
{% block content %}    
  {% block sidebar %}
    {% include 'sidebarInventario.html' %}
  {% endblock sidebar %}

{% block scripts %}

<script  type="text/javascript" lenguage="javascript">

function setinsert(accion){
// document.fvalida.hdnValor.value =idprecio
document.fvalida.hdnAccion.value =accion
if (document.fvalida.hdnAccion.value =="insertar" ) {
         document.fvalida.submit();
         
        }
else{
  
         return 0;

}
}
function setup(idpre,accion){
document.fvalida2.hdnValor.value =idpre
document.fvalida2.hdnAccion.value =accion
if (document.fvalida.hdnAccion.value =="actualizar" ) {
         document.fvalida.submit();
         
        }
else{
 
         return 0;

}
}


function setid_confirmar(idprecio, accion) {
  if (confirm('¿Desea eliminar el registro del precio?')==true) {
    hdn=document.getElementById('Hdnidprecio')
    hdn.value=idprecio
    accion=document.getElementById('HdnAccion')
    accion.value=accion
    document.formu.Hdnidprecio.value=hdn.value
    document.formu.submit();
    return true;
  }
  return false;
}
</script>


{% endblock %}


{% block contenido %}


<div class="container">
<h3>Registrar nueva planilla</h3>
<i><p>Ingrese los datos</p></i>
<br>
  <form  id="myform" name="fvalida"  method="POST" action="/newPlanilla/" class="form-horizontal col-md-offset-2">
    {% csrf_token %}
    <input type="hidden" id="hdnAccion" name="hdnAccion" value="0" />
    <input type="hidden" id="hdnValor" name="hdnValor" value="0" />






    <div class="form-group has-warning">
        <label for="empresa" class="control-label col-md-2">Fecha</label>
          <div class="col-md-7">
            <input type="date" name="fecha" class="form-control" required="">
            {{ form.fecha.errors }}
          </div>
    </div>
 

    <div class="form-group has-warning">
        <label for="" class="control-label col-md-2">Asignacion</label>
           <div class="col-md-7">
            <select type="text"  name="ee" id="grid-size" class="form-control">
                      {% for m in empleado_empresa %}
                     <option name="ee" class="" value="{{m.id}}">
                      {{m.empleado}}
                      </option>
                      {% endfor %}
               </select>
            </div>
    </div>

    <div class="form-group has-warning">
        <label for="" class="control-label col-md-2">Dias Laborados</label>
          <div class="col-md-7">
            <input type="number" name="dias" class="form-control" required>
          </div>
    </div>

    <div class="form-group has-warning">
        <label for="" class="control-label col-md-2">Descuentos</label>
          <div class="col-md-7">
            <input type="number" name="descuentos" value="0" class="form-control" >
          </div>
    </div>

    <div class="form-group has-warning">
        <label for="" class="control-label col-md-2">Ingresos</label>
          <div class="col-md-7">
            <input type="number" name="ingresos" value="0" class="form-control">
          </div>
    </div>





    <div class="form-group">
        <div class="col-md-9 col-xs-12 col-sm-12 col-md-offset-2">
          <input type="submit" class="btn btn-primary col-md-9 col-xs-12 col-sm-12" name="insert" value="Grabar" onclick="setinsert('insertar')" placeholder=""> 
        </div>
        
    </div>
          
 
    </form>


</div>


{% endblock content %}

