{% extends "base.html" %}
{% block contenido %}



<div class="container">

        <br><br>

        <h3>Lista de Empresa</h3>
        <a class="btn btn-info" href="{% url "appsic:new" %}">Agregar empresa</a>
        
        <div class="table-responsive">
            <br>
            <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="danger">
                <th>NIC</th>
                <th>Nombre</th>
                <th>Nombre Comercial</th>
                <th>Calendario Base</th>
                <th style="width: 250px;" >Accion</th>
            </tr>
            

                {% if object_list %}
                {% for empresa in object_list %}
            <tr>
                <td>{{ empresa.nic }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.ncr }}</td>
                <td>{{ empresa.calendar }}</td>
                <td>
                <a class="btn btn-success btn-xs" href="{% url "appsic:detail" empresa.id %}">Ver</a>
                <a class="btn btn-primary btn-xs" href="{% url "appsic:edit" empresa.id %}">Editar</a>
                <a class="btn btn-danger btn-xs" href="{% url "appsic:delete" empresa.id %}">Borrar</a>
                </td>
            </tr>
                {% endfor %}

                {% else %}
                    <h3>No hay registros de Empresas</h3>
                {% endif %}
           


        </table>

        <ul class="pager">
            <li>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            </li>
            <li>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% endif %}
            </li>
        </ul>
        
        </div>        
    </div>
    

{% endblock %}
